*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
::placeholder {
    color: black;
   	margin-left: 10px;
    opacity: 0.5; 
}

header{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #000;
}
.logo{
	display: inline-block;
	width: 200px;
	height: 80px;
}
.logo img{
	width: 200px;
	height: 80px;
	vertical-align: middle;
}

.menu{
	display: inline-block;
	color: blue;
}
.menu_left{
	display: inline-block;
	float: left;
	font-weight: 800;
	
}
.menu_left a{
	margin:10px;
	text-decoration: none;
}
.menu_right{
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}
.menu_right a{
	margin: 5px;
}
.menu_right input{
	width: 300px;
	height: 35px;
	margin: 0;
	border-radius: 5px;
	border: 2px solid blue;
}
.menu_right input {
	padding-left: 20px;
}
.menu_right button{
	background-color: blue;
	color: white;
	margin-left: 0;
	margin-right: 60px;
}